*{
  padding:10px;
  margin:10px;
}
form{
  text-align: center;
  margin-top: 100px;
}
input{
  width:200px;
}

#room{
  display:flex;
  width: 1000px;
  justify-content: space-around;
  border: 1px solid black;
}

#chat > div{
  flex: 1;
  margin-right:300px;
}